:root {
  --b64-01: rgb(0,0,0);
  --b64-02: rgb(0,0,85);
  --b64-03: rgb(0,0,170);
  --b64-04: rgb(0,0,255);
  --b64-05: rgb(0,85,0);
  --b64-06: rgb(0,85,85);
  --b64-07: rgb(0,85,170);
  --b64-08: rgb(0,85,255);
  --b64-09: rgb(0,170,0);
  --b64-10: rgb(0,170,85);
  --b64-11: rgb(0,170,170);
  --b64-12: rgb(0,170,255);
  --b64-13: rgb(0,255,0);
  --b64-14: rgb(0,255,85);
  --b64-15: rgb(0,255,170);
  --b64-16: rgb(0,255,255);
  --b64-17: rgb(85,0,0);
  --b64-18: rgb(85,0,64);
  --b64-19: rgb(85,0,128);
  --b64-20: rgb(85,0,192);
  --b64-21: rgb(85,85,0);
  --b64-22: rgb(85,85,85);
  --b64-23: rgb(85,85,170);
  --b64-24: rgb(85,85,255);
  --b64-25: rgb(85,170,0);
  --b64-26: rgb(85,170,85);
  --b64-27: rgb(85,170,170);
  --b64-28: rgb(85,170,255);
  --b64-29: rgb(85,255,0);
  --b64-30: rgb(85,255,85);
  --b64-31: rgb(85,255,170);
  --b64-32: rgb(85,255,255);
  --b64-33: rgb(170,0,0);
  --b64-34: rgb(170,0,64);
  --b64-35: rgb(170,0,128);
  --b64-36: rgb(170,0,192);
  --b64-37: rgb(170,85,0);
  --b64-38: rgb(170,85,85);
  --b64-39: rgb(170,85,170);
  --b64-40: rgb(170,85,255);
  --b64-41: rgb(170,170,0);
  --b64-42: rgb(170,170,85);
  --b64-43: rgb(170,170,170);
  --b64-44: rgb(170,170,255);
  --b64-45: rgb(170,255,0);
  --b64-46: rgb(170,255,85);
  --b64-47: rgb(170,255,170);
  --b64-48: rgb(170,255,255);
  --b64-49: rgb(255,0,0);
  --b64-50: rgb(255,0,64);
  --b64-51: rgb(255,0,128);
  --b64-52: rgb(255,0,192);
  --b64-53: rgb(255,85,0);
  --b64-54: rgb(255,85,85);
  --b64-55: rgb(255,85,170);
  --b64-56: rgb(255,85,255);
  --b64-57: rgb(255,170,0);
  --b64-58: rgb(255,170,85);
  --b64-59: rgb(255,170,170);
  --b64-60: rgb(255,170,255);
  --b64-61: rgb(255,255,0);
  --b64-62: rgb(255,255,85);
  --b64-63: rgb(255,255,170);
  --b64-64: rgb(255,255,255);
}

.b64color-list {
  display: flex;
}

.b64color-block {
  --sz: 4px;
  width: var(--sz);
  height: var(--sz);
}